{project_plugins, [rebar3_exerl_dep, rebar3_exerl_build, erlfmt]}.
{deps, [
    {logger, {elixir, {tag, "v1.15.5"}}},
    {elixir, {elixir, {tag, "v1.15.5"}}},
    {eex, {elixir, {tag, "v1.15.5"}}},
    {mix, {elixir, {tag, "v1.15.5"}}},
    tzdata,
    recon,
    explorer,
    easter,
    protobuf
]}.
