{project_plugins, [exerl, erlfmt]}.
{relx, [
    {release, {exerl_test, "0.0.1"}, [exerl_test]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},

    {exclude_modules, [
        {elixir, [
            'Elixir.String.Chars',
            'Elixir.List.Chars',
            'Elixir.Inspect',
            'Elixir.Enumerable',
            'Elixir.Collectable'
        ]}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
{provider_hooks, [{post, [{compile, consolidate_protocols}]}]}.
{deps, [
    hackney,
    tzdata,
    easter,
    phoenix,
    bandit,
    recon,
    explorer,
    protobuf,
    {elixir_full, {ex, "1.17"}}
]}.
