{project_plugins, [exerl_build, erlfmt]}.
{provider_hooks, [{post, [{compile, consolidate_protocols}]}]}.
{deps, [
    % {logger, {elixir, "1.16"}},
    hackney,
    tzdata,
    easter,
    phoenix,
    bandit,
    recon,
    explorer,
    protobuf
    % {elixir, {elixir, "1.16"}},
    % {mix, {elixir, "1.16"}}
]}.
